@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

/* dezactiveaza double tap zoom pe telefon */
body {
    touch-action: manipulation !important; 
}

.wrapper {
    width: 100%;
    min-height: 955px;
    overflow: hidden;
}

#video-background {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}


/* TITLU */
.title-container{
    height: 150px;
    user-select: none;
}

.title {
    font-weight: bold;
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 35px;
    animation: title-anim 1s;
    text-shadow: 0 0 3px #666;
}

.logo {
    border-radius: 50%;
    padding: 18px 0 18px 10px;
    background-color: #CAD400;
    animation: logo-anim 1s;
}

.title-container a {
    pointer-events: all; 
    position: absolute;
    top: 45px;
    right: 20px;
}

.title-star-button{
    font-size: 20px;
    padding: 10px;
    background-color: #CAD400;
    border-radius: 50%;
    color: #fff;
}

/* TITLU */


/* BARA NAVIGATIE */

.nav {
    /* display: none; temporary */
    opacity: 0;
    pointer-events: none;
}

p.btn {
    padding: 12px;
    border:4px solid #0F3255;
    background-color: rgba(0,0,0,0);
    cursor: default;
}

.btn {
    width: 110px;
    padding: 0 10px;
    height: 50px;
    border: none;
    background-color: #0F3255;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 0 15px;
    opacity: 0.9;
    transition: 0.3s;
    cursor: pointer;
}

.btn:focus {
    outline-width: 0;
}

.btn-name {
    width: 260px;
}

button.btn:hover{
    background-color: #518DB2;
}

/* BARA NAVIGATIE */


/* NEW PLAYER INTERFACE */
.removable-container {
    min-width: 100%;
}

.player-input-container{
    transform: translateY(330px);
}

.player-input-info {
    padding: 30px;
    color: #fff;
    opacity: 0.5;
    animation: input-group-loading 3s;
}

#player-nickname-input {
    width: 360px;
    height: 50px;
    border: none;
    background-color: #0F3255;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    letter-spacing: 4px;
    font-weight: 100;
    animation: input-group-loading 3s;
    transition: 0.5s;
}

#player-nickname-input:focus{
    outline-width: 0;
}

#player-nickname-input::placeholder{
    font-style: italic;
    font-size: 20px;
    letter-spacing: 0px;
    opacity: 0.5;
}

.empty-input {
    /* border:1px solid red !important; */
    box-shadow: 0 0 50px red !important;
}
.empty-input::placeholder{
    color: red !important;
    opacity: 1;
}

.game-tutorial {
    font-size: 20px;
    color: #fff;
    opacity: 0;
    margin: 10px 0;
    text-align: center;
    transform: translateY(160px);
    pointer-events: none;
}

.btn-play {
    border: none;
    width: 80px;
    height: 80px;
    background-image: linear-gradient(to bottom right, #518DB2, #0F3255);
    border-radius: 50%;
    transform: translateY(200px);
    animation: input-group-loading 3s;
    opacity: 0.7;
}

.btn-play:hover{
    cursor: pointer;
    background-image: linear-gradient(to bottom right, #0F3255, #0F3255);
}

.btn-play:focus{
    outline-width: 0;
}

.btn-play i{
    color: #fff;
    font-size: 35px;
    transform: translateX(1px);
    opacity: 1;
    animation: input-group-loading 1s;
    transition: 0.3s;
}

.btn-play:focus i{
    animation: roundy 0.5s;
}

/* NEW PLAYER INTERFACE */


/* JOC */

.game-container {
    margin-top: 30px;
}

#game {
    min-width: 350px;
    min-height: 310px;
    margin-bottom: 50px;
}

#level{
    user-select: none;
    filter: drop-shadow( 0px 0px 5px #111)
}

#level *{
    fill-opacity: 0;
    fill: url(#piece-gradient);
    stroke: url(#piece-gradient);
    stroke-width: 2;
}

.piece {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

.piece svg * {
    pointer-events: fill;
    cursor: grab;
    fill-opacity: 0;
    stroke: #CAD400;
    stroke-width: 2px;
    box-sizing: content-box;
}

#drag-container .in-place * {
    fill: url(#piece-gradient);
    pointer-events: none ;
    stroke-width: 1px ;
    stroke: url(#piece-gradient);
    fill-opacity: 1;
}

.stroke-container {
    margin: 0 35px;
}

.timer-nextlevel {
    margin: 20px 0;
}

.timer-container{
    width: 80px;
    min-height: 50px;
    border: 3px solid #0F3255;
    border-radius: 50px;
    color: #aaa;
    opacity: 0;
    pointer-events: none;
}

#next-level {
    background: #CAD400;
    display: none;
    pointer-events: all;
}

#next-level:hover {
    background-color: #518DB2;
}

.skip-level {
    display: none;
    opacity: 0;
}

#stroke {
    width: 1px;
    min-height: 120%;
    border: 0.5px dashed #518DB2;
}

#drag-container {
    min-width: 350px;
    min-height: 310px;
    margin-bottom: 50px;
}

#game, #stroke {
    opacity: 0;
    pointer-events: none
}


/* JOC */


/* Leaderboard */

.leaderboard-section {
    background-color: #fff;
}

.leaderboard-container {
    background: url(./resources/images/leaderboard-background.png) repeat fixed;
}

.leaderboard-title {
    margin: 50px 0;
    font-size: 3rem;
    user-select: none;
}

.title-star{
    height: 100%;
    font-size: 30px;
    padding: 15px;
    position: relative;
    top: -8px;
    background-color: #CAD400;
    border-radius: 50%;
    color: #fff;
}

.title-star-button {
    transition-duration: .4s;
}

.title-star-button:hover {
    background-color: #518DB2;
}

.leaderboard {
    margin: 50px 0;
    width: 50%;
}

.leaderboard li {
    margin: 20px 0;
    width: 100%;
}

.leaderboard li i {
    width: 0;
    position: relative;
    left: 80px;
    font-size: 1.4rem;
    color: #518DB2;
}

.leaderboard li .leaderboard-text {
    font-size: 1.4rem;
    width: 33%;
    text-align: center;
}

.leaderboard li .leaderboard-text span {
    font-size: 60%;
}

.leaderboard .first .leaderboard-text{   
    font-size: 3.1rem;
}

.leaderboard .second .leaderboard-text{   
    font-size: 2.5rem;
}

.leaderboard .third .leaderboard-text{
    font-size: 2rem;
}

.horizontal-line {
    width: 30%;
    border-style: dashed;
    color: #ccc;
}

/* Leaderboard */

/* GAME FINISHED MODAL */

.modal-body p{
    font-size: 1.5rem;
}

.modal-body button {
    margin: 30px 0 10px;
}

/* GAME FINISHED MODAL */

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-self-start {
    align-self: flex-start
}

.align-self-center {
    align-self: center;
}

.align-self-end {
    align-self: flex-end
}

.flex-wrap{
    flex-wrap: wrap
}

.text-start {
    text-align: left
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: right
}

.w-100 {
    width: 100%;
}

.opacity20 {
    opacity: .2;
}


/* gamecontainer vertical instead of horizontal */
@media only screen and (max-width: 1365px){
    .game-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .stroke-container {
        display: none;
    }

    .removable-container {
        transform: translateY(-200px);
    }

    #video-background {
        max-height: 100%;
    }

    .leaderboard {
        width: 90%;
    }

}

@media only screen and (max-width: 768px){
    .title-star{
        height: 100%;
        font-size: 18px;
        padding: 5px;
        top: -6px;
    }

    .leaderboard-title {
        font-size: 2rem;
        text-align: center;
        margin: 20px 0;
    }

    .leaderboard {
        margin: 50px 0;
        width: 100%;
    }
    
    .leaderboard li {
        margin: 10px 0 10px 10px;
    }
    
    .leaderboard li i {
        display: none;
    }
    
    .leaderboard li .leaderboard-text {
        font-size: 0.8rem;
    }

    .leaderboard li .text-start {
        width: 10%;
    }

    .leaderboard li .text-center {
        width: 45%;
    }

    .leaderboard li .text-end {
        width: 45%;
    }
    
    .leaderboard li .leaderboard-text span {
        font-size: 60%;
    }
    
    .leaderboard .first .leaderboard-text{
        font-size: 1.8rem;
    }
    
    .leaderboard .second .leaderboard-text{
        font-size: 1.5rem;
    }
    
    .leaderboard .third .leaderboard-text{
        font-size: 1rem;
    }
}


/* //////////////////////
////// devOnly ///////
////////////////////// */
#devOnly { 
    color: #fff;
    opacity: .3;
    font-size: 24px;
    position: absolute;
    left: 47.5%;
    top: 28%;
    pointer-events: none;
}