/* titlu vine din dreapta catre centru si apoi catre top */
@keyframes title-anim {
  0%{
      transform: translate(800%,800%);
      opacity: 0.1;
  }
  50%{
      transform: translate(0,800%);
      opacity: 0.5;
  }

  100%{
      transform: translate(0,0);
      opacity: 1;
  }
}
/* logo vine din stanga catre centru si apoi catre top */
@keyframes logo-anim {
  0%{
      transform: translate(-1000%,420%);
      opacity: 0.1;
  }
  50%{
      transform: translate(0,420%);
      opacity: 0.5;
  }
  100%{
      transform: translate(0,0);
      opacity: 1;
  }
}

/* opacitate 0 -> input group (input,playbutton) */
@keyframes input-group-loading {
    0%{
        opacity: 0;
    }

    30%{
        opacity: 0;
    }

    100%{
        opacity: 0.7;
    }
}
/* dispare TIP: dupa ce am introdus numele si am dat click pe butonul de play */
.player-input-info-remove {
    animation: player-input-info-remove 0.2s;
    opacity: 0;
}
@keyframes player-input-info-remove {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}
/* Mut input containerul 230 px mai sus */
.player-input-container-name-added{
    animation: player-input-container-name-added 0.5s;
    transform: translateY(100px);
}
@keyframes player-input-container-name-added {
    0%{
        transform: translateY(330px);
    }

    100%{
        transform: translateY(100px);
    }
}
/* apare textul de tutorial */
.game-tutorial-show{
    animation: game-tutorial-show 1s;
    opacity: 0.5;
}
@keyframes game-tutorial-show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.5;
    }
}
/* se invarte sageata din buton cand dau click pe buton */
@keyframes roundy {
    0%{
        transform: rotate(0deg);
    }
    50%{
        color: #CAD400;
    }
    100%{
        transform: rotate(1440deg);
        
    }
}
/* toata interfata te new player se duce in sus, dupa care dispare */
.remove-new-player-interface {
    animation: remove-new-player-interface 0.7s;
}
@keyframes remove-new-player-interface {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-1200px);
    }
}
/* apare bara de navigatie */
.navbar-appear {
    animation: navbar-appear 0.5s;
    pointer-events: all;
    opacity: 1;
}

@keyframes navbar-appear{
    0%{
        transform: translateY(-300px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

/* apare cronometrul */

.timer-appear {
    animation: timer-appear 1s;
    opacity: 1;
}

@keyframes timer-appear { 
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}