.reset-big-t{
  animation: reset-big-t 1s;
}


.reset-big-{
  animation: reset-big- 1s;
}


.reset-med-t{
  animation: reset-med-t 1s;
}


  
.reset-para{
  animation: reset-para 1s;
}


.reset-small-t{
  animation: reset-small-t 1s;
}



.reset-small-{
  animation: reset-small- 1s;
}


.reset-square {
  animation: reset-square 1s;
}
